#studyMouseIcon {
  position: absolute;
  cursor: pointer;
  z-index: 2147483647;
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 3px;
  width: 19px;
  height: 19px;
  box-sizing: content-box;
  color: #000;
  text-align: center;
  font-size: small;
}
#studyMouseIcon:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  border: 1px solid #bbb;
}
#studyMouseAnchor {
  position: absolute;
  visibility: hidden;
}
#studyMouseBubble {
  position: absolute;
  visibility: visible;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  border: #bbb solid 1px;
  background-color: #eee;
  padding: 16px;
}
